<%- include ('header') -%>

<h2>About Section</h2>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
  Reprehenderit, ipsam veniam obcaecati, 
  distinctio cum corporis quaerat alias sapiente 
  provident quis non eveniet enim harum ea nesciunt 
  atque cupiditate a doloremque!
</p>






<%- include ('footer') -%>